#VITE_API_URL=http://localhost:8000/api

# ec2
#VITE_API_URL=http://18.212.39.162:8000/api

# docker compose root
# VITE_API_URL=/api


# VITE_API_URL=http://pixel-monitor-default-alb-537414936.us-east-1.elb.amazonaws.com/api
# VITE_API_URL=http://k8s-default-pixelmon-45cde402f9-273315686.us-east-1.elb.amazonaws.com/api

# svc loadbalancer
# VITE_API_URL=af798322c586a4620b6a4197b49d52db-1603594104.us-east-1.elb.amazonaws.com/api
