HOST_IP=$(curl ifconfig.me)
#VITE_API_URL=http://localhost:8000/api
#VITE_API_URL=http://$HOST_IP:8000/api

#VITE_API_URL=http://18.212.39.162:8000/api

# VITE_API_URL=http://pixel-monitor-default-alb-537414936.us-east-1.elb.amazonaws.com/api
VITE_API_URL=http://k8s-default-pixelmon-45cde402f9-273315686.us-east-1.elb.amazonaws.com/api
# VITE_API_URL=http://a014e5ec654804c1ab25289912f5aada-672601438.us-east-1.elb.amazonaws.com/api
