export PG_USER=admino
export PG_DB=admindb
# openssl rand -base64 32
export PG_PASS=MEQGkmDK+Lt1n7PrSO2Jj!xF7JgwVAU/OnH/Ym9LO9hY=
export DJANGO_SECRET_KEY=django-1qJhIGJZy6eBB4u6I3EAqNGVnaqxFdyYCeNvSl5lW38=
# if you're using EC2, add the public ip here
export ALLOWED_HOSTS=localhost,34.228.63.79
