PG_USER=admino
PG_DB=admindb
# openssl rand -base64 32
PG_PASS=MEQGkmDK+Lt1n7PrSO2Jj!xF7JgwVAU/OnH/Ym9LO9hY=
DJANGO_SECRET_KEY=django-1qJhIGJZy6eBB4u6I3EAqNGVnaqxFdyYCeNvSl5lW38=
ALLOWED_HOSTS=18.212.39.162
DEBUG=1
