export CLUSTER_NAME=pixel-monitor
export CLUSTER_NS=default
export AWS_REGION=us-east-1
export AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)

export APP_NAME=pixel-monitor

#export SERVICE_ACCOUNT=fastapi-s3-pg-sa
export ECR_REPO=pixel-monitor/api
export S3_BUCKET=pixel-monitor-storage-bkt

export IAM_POLICY_NAME=PixelMonitorS3Policy
export IAM_ROLE_NAME=PixelMonitorS3Role

# DB
export DB_INSTANCE_ID=pixel-monitor-db
export DB_INSTANCE_CLASS=db.t3.micro
export DB_NAME=movie_db
export DB_USER=admino
export DB_PASSWORD='TopSecretDBPassword!'

export DJANGO_SECRET_KEY='SuperSecretKey<>'
